# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Entornos Virtuales (VITAL) ---
venv/
env/
.env
.venv/

# --- PyInstaller Build ---
build/
dist/

# --- Modelos Grandes ---
# Si tu best.pt pesa más de 100MB, descomenta la siguiente línea:
# *.pt
# (Como es YOLOv8 Nano, pesa ~6MB, así que déjalo comentado para subirlo)

# --- VS Code ---
.vscode/

# --- Imágenes y Logs temporales ---
*.log
runs/
__MACOSX/
.DS_Store

# --- Archivos de resultado de entrenamiento ---
# (Para no subir gráficas sueltas si se generan)
*.png
*.jpg
*.jpeg

# --- EXCEPCIONES (Lo que SÍ queremos subir) ---
!assets/*.png    # Permite pngs en assets
!src/Logo.png    # <--- ¡ESTA ES LA LÍNEA MÁGICA! Permite tu logo en src